:root {
  --bg-color: #faf1e6;
  --secondary-color: #fdfaf6;
  --btn-color: #e4efe7;
  --text-color: #99bc85;
  --accent-color: #c5705d;
}

.dark-theme {
  --bg-color: #092635;
  --secondary-color: #1b4242;
  --btn-color: #5c8374;
  --text-color: #9ec8b9;
  --accent-color: #267984;
}

* {
  padding: 0;
  margin: 0;
  border: 0 solid transparent;
}

.main {
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.input {
  margin: 4rem 0;
  background-color: var(--secondary-color);
  width: 40vw;
  height: 8rem;
  font-size: 5rem;
  color: inherit;
  text-align: end;
  padding-right: 2rem;
  border-radius: 50px;
  box-shadow:
    0.5em 0.5em var(--text-color),
    -0.5em -0.5em var(--accent-color);
  &:focus {
    outline: none;
  }
}

.button {
  outline: none;
  width: 7rem;
  height: 7rem;
  font-size: 3rem;
  font-weight: 700;
  background-color: var(--btn-color);
  color: inherit;
  transition: 0.2s ease-in;
  cursor: pointer;
  border-radius: 50%;

  &:hover {
    background-color: var(--text-color);
    color: var(--btn-color);
  }

  &:active {
    opacity: 0.5;
  }
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.numpad {
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  justify-content: center;
  gap: 2px;
}

.operators {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 2px;

  & button {
    background-color: var(--text-color);
    color: var(--btn-color);

    &:hover {
      background-color: var(--btn-color);
      color: var(--text-color);
    }
  }
}

.theme-button {
  width: 70px;
  height: 70px;
  background-color: var(--bg-color);
  position: absolute;
  top: 10%;
  left: 90%;
  border-radius: 50px;
  font-size: 40px;
  transition: transform 0.4s ease;
  cursor: pointer;
}
